# Classify as above 50,000 or below 50,000

In [7]:
import numpy as np
import pandas as pd
import tensorflow as tf

C:\Users\fq1228hj\AppData\Local\Continuum\anaconda3\envs\tfdeeplearning\lib\site-packages\tensorflow\python\framework\dtypes.py:458: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\fq1228hj\AppData\Local\Continuum\anaconda3\envs\tfdeeplearning\lib\site-packages\tensorflow\python\framework\dtypes.py:459: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\fq1228hj\AppData\Local\Continuum\anaconda3\envs\tfdeeplearning\lib\site-packages\tensorflow\python\framework\dtypes.py:460: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\fq1228hj\AppData\Local\Continuum\anaconda3\envs\tfdeeplearning\lib\site-packages\tensorflow\python\framework\dtypes.py:461: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\fq1228hj\AppData\Local\Continuum\anaconda3\envs\tfdeeplearning\lib\site-packages\tensorflow\python\framework\dtypes.py:462: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\fq1228hj\AppData\Local\Continuum\anaconda3\envs\tfdeeplearning\lib\site-packages\tensorflow\python\framework\dtypes.py:465: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [2]:
data = pd.read_csv('census_data.csv')

In [3]:
data['income_bracket'][32560]

' >50K'

In [4]:
data.tail()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
32556,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [5]:
data['income_bracket'] = data['income_bracket'].apply(lambda x : 0 if (x == ' <=50K') else 1,)

In [6]:
from sklearn.model_selection import train_test_split

In [13]:
X = data.drop('income_bracket',axis=1)
y = data['income_bracket']

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [15]:
age = tf.feature_column.numeric_column("age")
education_num = tf.feature_column.numeric_column("education_num")
capital_gain = tf.feature_column.numeric_column("capital_gain")
capital_loss = tf.feature_column.numeric_column("capital_loss")
hours_per_week = tf.feature_column.numeric_column("hours_per_week")
gender = tf.feature_column.categorical_column_with_vocabulary_list("gender", ["Female", "Male"])
occupation = tf.feature_column.categorical_column_with_hash_bucket("occupation", hash_bucket_size=1000)
marital_status = tf.feature_column.categorical_column_with_hash_bucket("marital_status", hash_bucket_size=1000)
relationship = tf.feature_column.categorical_column_with_hash_bucket("relationship", hash_bucket_size=1000)
education = tf.feature_column.categorical_column_with_hash_bucket("education", hash_bucket_size=1000)
workclass = tf.feature_column.categorical_column_with_hash_bucket("workclass", hash_bucket_size=1000)
native_country = tf.feature_column.categorical_column_with_hash_bucket("native_country", hash_bucket_size=1000)

In [16]:
feat_cols = [gender,occupation,marital_status,relationship,education,workclass,native_country,
            age,education_num,capital_gain,capital_loss,hours_per_week]

In [17]:
input_func = tf.estimator.inputs.pandas_input_fn(x=X_train,y=y_train,batch_size=100,shuffle=True,num_epochs=None)

In [18]:
model = tf.estimator.LinearClassifier(feature_columns=feat_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\fq1228hj\AppData\Local\Temp\tmpb_cvgb9v
INFO:tensorflow:Using config: {'_save_summary_steps': 100, '_log_step_count_steps': 100, '_session_config': None, '_keep_checkpoint_every_n_hours': 10000, '_save_checkpoints_secs': 600, '_tf_random_seed': 1, '_model_dir': 'C:\\Users\\fq1228hj\\AppData\\Local\\Temp\\tmpb_cvgb9v', '_save_checkpoints_steps': None, '_keep_checkpoint_max': 5}

In [19]:
model.train(input_fn=input_func,steps=5000)

INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Saving checkpoints for 1 into C:\Users\fq1228hj\AppData\Local\Temp\tmpb_cvgb9v\model.ckpt.
INFO:tensorflow:step = 1, loss = 69.31474
INFO:tensorflow:global_step/sec: 232.09
INFO:tensorflow:step = 101, loss = 51.52557 (0.431 sec)
INFO:tensorflow:global_step/sec: 276.487
INFO:tensorflow:step = 201, loss = 96.91804 (0.366 sec)
INFO:tensorflow:global_step/sec: 239.739
INFO:tensorflow:step = 301, loss = 38.013866 (0.413 sec)
INFO:tensorflow:global_step/sec: 210.6
INFO:tensorflow:step = 401, loss = 68.41817 (0.475 sec)
INFO:tensorflow:global_step/sec: 221.783
INFO:tensorflow:step = 501, loss = 135.93227 (0.451 sec)
INFO:tensorflow:global_step/sec: 227.349
INFO:tensorflow:step = 601, loss = 123.10803 (0.440 sec)
INFO:tensorflow:global_step/sec: 243.993
INFO:tensorflow:step = 701, loss = 67.04837 (0.410 sec)
INFO:tensorflow:global_step/sec: 289.798
INFO:tensorflow:step = 801, loss = 302.22717 (0.345 sec)
INFO:tensorflow:global_step/sec: 275.954
INFO:tensorflow:step = 901, loss = 498.81003 (0.362 sec)
INFO:tensorflow:global_step/sec: 256.951
INFO:tensorflow:step = 1001, loss = 34.130596 (0.389 sec)
INFO:tensorflow:global_step/sec: 283.21
INFO:tensorflow:step = 1101, loss = 83.04501 (0.353 sec)
INFO:tensorflow:global_step/sec: 277.494
INFO:tensorflow:step = 1201, loss = 309.1344 (0.360 sec)
INFO:tensorflow:global_step/sec: 257.079
INFO:tensorflow:step = 1301, loss = 463.8331 (0.389 sec)
INFO:tensorflow:global_step/sec: 303.036
INFO:tensorflow:step = 1401, loss = 207.37216 (0.330 sec)
INFO:tensorflow:global_step/sec: 264.166
INFO:tensorflow:step = 1501, loss = 168.07321 (0.379 sec)
INFO:tensorflow:global_step/sec: 267.244
INFO:tensorflow:step = 1601, loss = 34.539597 (0.374 sec)
INFO:tensorflow:global_step/sec: 291.759
INFO:tensorflow:step = 1701, loss = 58.56664 (0.343 sec)
INFO:tensorflow:global_step/sec: 265.801
INFO:tensorflow:step = 1801, loss = 76.63862 (0.376 sec)
INFO:tensorflow:global_step/sec: 301.159
INFO:tensorflow:step = 1901, loss = 43.183918 (0.348 sec)
INFO:tensorflow:global_step/sec: 273.169
INFO:tensorflow:step = 2001, loss = 157.72397 (0.350 sec)
INFO:tensorflow:global_step/sec: 278.736
INFO:tensorflow:step = 2101, loss = 69.300446 (0.374 sec)
INFO:tensorflow:global_step/sec: 245.309
INFO:tensorflow:step = 2201, loss = 55.752586 (0.392 sec)
INFO:tensorflow:global_step/sec: 275.672
INFO:tensorflow:step = 2301, loss = 38.089874 (0.363 sec)
INFO:tensorflow:global_step/sec: 264
INFO:tensorflow:step = 2401, loss = 87.33502 (0.379 sec)
INFO:tensorflow:global_step/sec: 291.934
INFO:tensorflow:step = 2501, loss = 65.001274 (0.343 sec)
INFO:tensorflow:global_step/sec: 267.918
INFO:tensorflow:step = 2601, loss = 129.30072 (0.377 sec)
INFO:tensorflow:global_step/sec: 259.435
INFO:tensorflow:step = 2701, loss = 31.686218 (0.397 sec)
INFO:tensorflow:global_step/sec: 278.863
INFO:tensorflow:step = 2801, loss = 24.280807 (0.359 sec)
INFO:tensorflow:global_step/sec: 240.757
INFO:tensorflow:step = 2901, loss = 170.54904 (0.400 sec)
INFO:tensorflow:global_step/sec: 227.127
INFO:tensorflow:step = 3001, loss = 45.88131 (0.456 sec)
INFO:tensorflow:global_step/sec: 209.953
INFO:tensorflow:step = 3101, loss = 86.71179 (0.461 sec)
INFO:tensorflow:global_step/sec: 266.635
INFO:tensorflow:step = 3201, loss = 91.26831 (0.375 sec)
INFO:tensorflow:global_step/sec: 276.363
INFO:tensorflow:step = 3301, loss = 52.214493 (0.362 sec)
INFO:tensorflow:global_step/sec: 267.471
INFO:tensorflow:step = 3401, loss = 57.68467 (0.374 sec)
INFO:tensorflow:global_step/sec: 286.19
INFO:tensorflow:step = 3501, loss = 140.25323 (0.349 sec)
INFO:tensorflow:global_step/sec: 280.861
INFO:tensorflow:step = 3601, loss = 34.258568 (0.372 sec)
INFO:tensorflow:global_step/sec: 249.921
INFO:tensorflow:step = 3701, loss = 38.46181 (0.385 sec)
INFO:tensorflow:global_step/sec: 220.059
INFO:tensorflow:step = 3801, loss = 26.116554 (0.454 sec)
INFO:tensorflow:global_step/sec: 261.923
INFO:tensorflow:step = 3901, loss = 32.44449 (0.382 sec)
INFO:tensorflow:global_step/sec: 253.68
INFO:tensorflow:step = 4001, loss = 38.36796 (0.394 sec)
INFO:tensorflow:global_step/sec: 287.174
INFO:tensorflow:step = 4101, loss = 257.79935 (0.352 sec)
INFO:tensorflow:global_step/sec: 285.386
INFO:tensorflow:step = 4201, loss = 39.336735 (0.346 sec)
INFO:tensorflow:global_step/sec: 211.021
INFO:tensorflow:step = 4301, loss = 29.845938 (0.490 sec)
INFO:tensorflow:global_step/sec: 189.846
INFO:tensorflow:step = 4401, loss = 40.457134 (0.511 sec)
INFO:tensorflow:global_step/sec: 293.555
INFO:tensorflow:step = 4501, loss = 48.152122 (0.356 sec)
INFO:tensorflow:global_step/sec: 262.019
INFO:tensorflow:step = 4601, loss = 241.60034 (0.370 sec)
INFO:tensorflow:global_step/sec: 269.839
INFO:tensorflow:step = 4701, loss = 44.026733 (0.367 sec)
INFO:tensorflow:global_step/sec: 292.001
INFO:tensorflow:step = 4801, loss = 108.08901 (0.358 sec)
INFO:tensorflow:global_step/sec: 270.852
INFO:tensorflow:step = 4901, loss = 43.27512 (0.358 sec)
INFO:tensorflow:Saving checkpoints for 5000 into C:\Users\fq1228hj\AppData\Local\Temp\tmpb_cvgb9v\model.ckpt.
INFO:tensorflow:Loss for final step: 119.64368.

In [21]:
pred_input_func = tf.estimator.inputs.pandas_input_fn(x=X_test,batch_size=len(X_test),num_epochs=1,shuffle=False)

In [35]:
pred = model.predict(input_fn=pred_input_func)

In [36]:
pred1 = list(pred)

INFO:tensorflow:Restoring parameters from C:\Users\fq1228hj\AppData\Local\Temp\tmpb_cvgb9v\model.ckpt-5000

In [39]:
pred1[1]['class_ids'][0]

0

In [42]:
final_pred = []
for item in pred1:
    final_pred.append(item['class_ids'][0])

In [45]:
from sklearn.metrics import classification_report, confusion_matrix

In [49]:
print(confusion_matrix(y_test,final_pred))
print('\n')
print(classification_report(y_test,final_pred))

[[6423 1013]
 [ 668 1665]]


              precision    recall  f1-score   support

           0       0.91      0.86      0.88      7436
           1       0.62      0.71      0.66      2333

    accuracy                           0.83      9769
   macro avg       0.76      0.79      0.77      9769
weighted avg       0.84      0.83      0.83      9769